<form>


    <div class="dieSteps-field form-group">
      <label for="dieSteps.spellGlobal">Global Spell Die Increase</label>
      <input type="number" name="dieSteps.spellGlobal" value="{{dieSteps.spellGlobal}}"
        placeholder="{{dieSteps.spellGlobal}}" data-tooltip="Global Spell Die Increase">
    </div>
    
    
   


  <button type="submit">
    <i class="far fa-save"></i> {{localize "Save"}}
  </button>
</form>
